# Ignore custom test configs
sites/**
!sites/example/
!sites/example/**

# Ignore macOS, Windows, and Linux files
.DS_Store
Thumbs.db
ehthumbs.db
*~
*.swp
*.swo

# Ignore folders from code editors
.vscode
.idea

# Ignore local environment settings
.env
.env.local

# Ignore temporary, cached, backup, and log files
*.log
*.tmp
*.bak
.cache/